<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <!-- Add the INTERNET permission -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/app_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Revolt"
        tools:targetApi="31">
        <activity
            android:name=".offScoreBoard"
            android:exported="false" />
        <activity
            android:name=".offPractice"
            android:exported="false" />
        <activity
            android:name=".offlineQuizBattle"
            android:exported="false" />
        <activity
            android:name=".offQuizDiff"
            android:exported="false" />
        <activity
            android:name=".offlineTopics"
            android:exported="false" />
        <activity
            android:name=".offlineSubOption"
            android:exported="false" />
        <activity
            android:name=".ModeOption"
            android:exported="false" />
        <activity
            android:name=".OpenJson"
            android:exported="false" />
        <activity
            android:name=".SampleDraftShow"
            android:exported="false" />
        <activity
            android:name=".SampleDraft"
            android:exported="false" />
        <activity
            android:name=".LeaderboardHard"
            android:exported="false" />
        <activity
            android:name=".LeaderboardMedium"
            android:exported="false" />
        <activity
            android:name=".CheckItemQuiz"
            android:exported="false" />
        <activity
            android:name=".LeaderVersionTwo"
            android:exported="false" />
        <activity
            android:name=".PretestGame"
            android:exported="false" />
        <activity
            android:name=".ScoreDashboard"
            android:exported="false" />
        <activity
            android:name=".QuizGameBattle"
            android:exported="false" />
        <activity
            android:name=".UserProfile"
            android:exported="false" />
        <activity
            android:name=".Leaderboards"
            android:exported="false" />
        <activity
            android:name=".QuizGame"
            android:exported="false" />
        <activity
            android:name=".QuizSubDifficulties"
            android:exported="false"
            android:label="@string/title_activity_quiz_sub_difficulties"
            android:theme="@style/Theme.Revolt" />
        <activity
            android:name=".TopicSubjects"
            android:exported="false" />
        <activity
            android:name=".Menu"
            android:exported="false" />
        <activity
            android:name=".Home"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".SplashScreen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>